/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menu-bars, .profile-icon {
  cursor: pointer;
  font-size: 2rem;
  background: none;
}

/* Profile section styles */
.profile-section {

}

.profile-icon {
  /* Style your profile icon here */
}

/* Dropdown menu styles */
.dropdown-menu {
  display: block; /* Ensure it's always visible for testing */
  position: absolute;
  top: 50px; /* Adjust as needed */
  right: 0;
  background-color: white;
  border: 1px solid black;
  z-index: 1001;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.dropdown-menu .dropdown-item {
  padding: 8px 16px;
}

.dropdown-menu .dropdown-item a {
  color: white; /* Light text color for contrast */
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #444; /* Slightly different background on hover */
}

/* Sidebar styles */
.nav-menu {
  background-color: #111;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-menu-items {
  width: 100%;
}

.nav-menu-items li {
  padding: 8px 0px 8px 16px;
  list-style: none;
  width: 100%;
}

.nav-menu-items li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width:100%;
}